/********************/
/* NAVBAR */
/*********************/
nav{
    display: flex;
    justify-content: center;
    margin: 0;
    box-shadow: none;
    background: none;
    padding: 0;

    ul{
        display: flex;

        li{
            margin: 10px;
        }
    }

}