// Colors
$primary-first-color: hsl(35, 77%, 62%);
$primary-second-color: hsl(5, 85%, 63%);

$first-neutral-color: hsl(36, 100%, 99%);
$secondary-neutral-color: hsl(233, 8%, 79%);
$tertiary-neutral-color: hsl(236, 13%, 42%);
$quaternary-neutral-color:  hsl(240, 100%, 5%);


// Breakpoints
$br-sm: 375px;
$br-md: 1440px;
