/********************/
/* FOURTH SECTION */
/*********************/
#fourth-section{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    .caption{
        width: 200px;
    }
}